<div id="footer">
    <div id="footloose">
        @Html.Partial("_Logo")
    </div>
    <p>
        <a href="http://www.ingebrigtsen.info">Privacy Policy</a> <strong>&nbsp;:&nbsp;</strong>
        <a href="http://www.ingebrigtsen.info">Terms &amp; Conditions</a>
        <br />
        &copy; Copyright 2011. All rights reserved.
    </p>
</div>
