<div id="login">
    <div id="login-bot">
        <div id="login-box">
            <h2 class="login">
                <em>user</em>login</h2>
            <form action="">
            <div id="login-username">
                <div>
                    <label for="username">
                        username</label>:
                    <input type="text" name="username" value="" id="username" /></div>
                <div>
                    <label for="password">
                        password</label>:
                    <input type="password" name="password" value="" id="password" /></div>
            </div>
            <div id="login-button">
                <input type="image" src="@Url.Content("~/Content/Images/btn_login.gif")" name="l" value="h" id="l" />
            </div>
            <div class="clear">
                <div class="reg">
                    New User? <a href="http://www.freewebsitetemplates.com">REGISTER for FREE</a>
                </div>
            </div>
            </form>
        </div>
        <div id="login-welcome">
            <div>
                <h2>
                    Welcome</h2>
                <p>
                    Don't forget to check <a href="http://www.freewebsitetemplates.com">free website templates</a>
                    every day, because we add a new free website template almost daily.</p>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
