<div id="head">
    <div id="head-left">
    </div>
    <div id="head-right">
    </div>
    <div id="head-1">
    </div>
    <h1>
        <span class="logo"><span class="top">top</span><span class="gadgets">gadgets</span></span></h1>
    <div id="navb">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </div>
</div>
<div id="head-2">
</div>
